

@import url('https://fonts.cdnfonts.com/css/manrope');

html {

    font-family: 'Manrope', sans-serif !important;
    body{
        background: inherit;
        color:#144f9f;
    }
}
.dark{
    html {

        font-family: 'Manrope', sans-serif !important;
        body{
            background: #144f9f;
            color:red !important;
        }
    }
}
main{
    background-color: #ffffff !important;
}
.btn.btn-primary.sentech-login-button {
    background: #144f9f;
    border: 0;
    border-radius: 8px;
    height: 70px;
    width: 100%;

}
.login-form-inputs{
    height: 70px;
    border-radius: 12px;
}
.h1-login{
    font-size: 40px;
    font-weight: 500;
    color: #144f9f;
}

.m-2.text-primary.float-end.forgot-password-text {
    color: #706F6F !important;
    font-size: 20px;
    text-decoration: none;
}


$dot-color: red !important;


:root {
    --el-menu-active-color: var(--el-color-primary);
    // ... other custom properties ...
}

// Override the custom properties
:root {
    --el-menu-active-color: $dot-color !important;
    --el-menu-text-color:  $dot-color;
    --el-menu-hover-text-color: $dot-color;

    // ... override other custom properties ...
}

.dark {
    --el-bg-color-overlay:#191c24 ;
    --el-border-color-light: #144f9f!important;

    --el-fill-color-light:black
}



