

@import url('https://fonts.cdnfonts.com/css/manrope');

html {

    font-family: 'Manrope', sans-serif !important;
    body{
        background: inherit;
        color:#144f9f;
    }
}
.dark{
    html {

        font-family: 'Manrope', sans-serif !important;
        body{
            background: #144f9f;
            color:red !important;
        }
    }
}
main{
    background-color: #ffffff !important;
}
.btn.btn-primary.sentech-login-button {
    background: #144f9f;
    border: 0;
    border-radius: 8px;
    height: 50px;
    width: 100%;
    font-size:25px

}
.login-form-inputs{
    height: 70px;
    border-radius: 12px;
}
.h1-login{
    font-size: 30px;
    font-weight: 500;
    color: #144f9f;
}

.m-2.text-primary.float-end.forgot-password-text {
    color: #706F6F !important;
    font-size: 20px;
    text-decoration: none;
}


$dot-color: red !important;


:root {
    --el-menu-active-color: var(--el-color-primary);
    // ... other custom properties ...
}

// Override the custom properties
:root {
    --el-menu-active-color: $dot-color !important;
    --el-menu-text-color:  $dot-color;
    --el-menu-hover-text-color: $dot-color;

    // ... override other custom properties ...
}

.dark {
    --el-bg-color-overlay:#263140 ;
    --el-border-color-light: #373e48!important;

    --el-fill-color-light:#121822 !important
}
.status-good {
    /* background-color: #556d8f; */
    background: rgba(255, 255, 255, 0.09);
    color: #93ad24;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding-bottom: 19px !important;
}
.status-warning {
    background: rgba(255, 255, 255, 0.09);

    color: #c51616;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding-bottom: 19px !important;
}

.status-error {
    background: rgba(255, 255, 255, 0.09);

    color: #c51616;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    padding-bottom: 19px !important;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #d6d2d2;
    border-radius: 50%;
}

.selected-province .checkmark {
    height: 20px;
    width: 20px;
    border: 2px solid #ffff;
    border-radius: 50%;
    background-color: #ffff;
    color: #144f9f !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-province .province {
    font-weight: 500;
    color: #ffff;
}

// .selected-province .checkmark::before {
//     content: '1';
// }


// .radio-container input:checked ~ .checkmark {
//     background-color: #144f9f;
// }




