
.dark{
    background:#000000 !important;

    --el-bg-color:#191c24;
}



.dark .shadow-border {
    background-color: #191c24;
    border:1px solid #191c24;
    
}

.dark .shadow-border .apexcharts-legend-text, h1, h3 {
    color:#ffff !important
}

.dark .navbar{
    border-bottom: 1px solid #191c24; background-color: #191c24;
    color: #ffff !important
}

.dark .navbar-light .navbar-nav .active > .nav-link{
    color:#144f9f
}

.dark .navbar-light .navbar-nav .nav-link {
    color: #737272
} 

.dark .navbar-light .btn-search{
    background-color: #144f9f;
    color: #fff;
    height: 32.5px;
    border: none !important
}

.dark .navbar-light .keyword-input {
    height: 32.5px !important;
    border: none !important;
    color: #737272 !important;
    font-weight: 500;
    border-radius: 4px;
    background-color:#000000

}

.dark .el-date-editor {
    --el-input-border-color: none !important;
    --el-input-bg-color: #000000 !important;
  
}

.dark .sidebar .nav .nav-item .nav-link .menu-title {
font-weight:500

}

.dark .sidebar {
    background: #191c24;
    font-family: "Roboto", sans-serif;
    padding: 0;
    width: 350px;
    z-index: 11;
    border-right: 2px solid #000000;
}

.dark .sidebar .bg{
    background: #000000 !important
}

.dark .tweetsColor{
    color:#737272 !important;
    font-weight:bold;
}

.dark .checkbox-select__trigger {
    background:#000000  !important;
    border:none !important
    
}
.dark .predictions-table-tree{
  min-height: 100vh; background-color: #191c24
}

.dark .table thead th {

    background-color: #191c24 !important
}

.dark  .org-tree-container {
   
    background-color: #191c24;
}

.dark .org-tree-node-label-inner{
    background-color: black !important
}

.dark .org-tree-node-btn {
    background-color: black !important;

}

.dark .bh-table-responsive table thead tr th {

    background-color: #191c24 !important
}
.dark .bh-table-responsive table tbody tr td {
  background-color: #191c24 !important
}

.dark .prediction-table-hearder{
    background-color: #191c24;
}

.dark .mobile-nav{
    border-bottom: none; background-color: #191c24
}

.dark .mobile .navbar-light .navbar-nav .active > .nav-link{
    color:#144f9f
}

.dark .keyword-input{
    background-color:black;
    border:1px solid black !important
}
.dark .el-drawer {
    --el-drawer-bg-color: #191c24 !important
}


.dark .el-tree {
  
    background: #191c24 !important;

    --el-tree-node-hover-bg-color: black !important;
    font-weight: bold;
  
}

.dark .el-table {
    --el-table-tr-bg-color :#191c24;
    --el-table-header-bg-color:#191c24;
    --el-table-bg-color: #191c24;
    --el-table-row-hover-bg-color:black;

    --el-table-border: 1px solid black;
    

}
.dark .company .table{
    --bs-table-color-state:#144f9f;
    --bs-body-bg:#191c24;
    --bs-border-color: black;
}

.dark .el-input {
    --el-input-bg-color: black !important;

    --el-input-border-color:black !important;
    --el-input-hover-border-color: black !important;
}

.dark .el-tag {
    color:#144f9f !important
}

.dark .el-cascader-menu {
     /* --el-cascader-menu-fill: black !important; */
    /* --el-bg-color-overlay:red !important; */
    background-color: #191c24 !important;
   
}

.dark .el-cascader {
    --el-cascader-tag-background:#191c24 !important   
}

.dark .search_select {
background-color:black;
border:none !important
}
.dark .weather-container {
    background-color: #191c24 !important;
}
.dark .container-bg {
    background-color: #191c24 !important ;
}

.dark .border-bottom-weather {
    border-bottom: 10px solid black !important;
}
.dark .border-right-weather {
    border-right: 2px solid black !important;
}

.dark .company-nav-header {
    background-color: #191c24;
    border:none !important
}

.dark .nav-pills {
    border-bottom: 1px solid #191c24;
}

.dark .company-nav-header .nav-link {
    color: #ffff;
    font-weight: 500;
    border: none
}

.dark .company .dark .table thead th {
    background-color: #191c24 !important;
    color: #ffff !important
}

.dark .dialog{
    background-color:#191c24  !important
}

.dark .el-dialog__title {
    --el-text-color-primary:#737272
}

.el-textarea__inner {
    --el-input-bg-color: none !important
}













