
.light .test{
    color:red !important;
    background-color: #ebedf0 !important;
}

.light{
    background-color: #ebedf0 !important;
}

.light .shadow-border  .apexcharts-legend-text, h3 {
    color: black 
}

.light .text-dark-bold{
    color: black !important
}

.light .navbar{
border-bottom: 1px solid #c7cdd2; background-color: #ffffff
}

.light .navbar-light .btn-search{
    background-color: #144f9f;
    color: #ffff;
    height: 32.5px;
    border:none !important
}

.light .mobile-nav{
    border-bottom: 1px solid #c7cdd2; background-color: #ffffff
}

.light .tweetsColor{
    color:#737272 !important
}

.light .el-cascader-menu {
    /* --el-cascader-menu-fill: black !important; */
   /* --el-bg-color-overlay:red !important; */
   background-color: #ffff;
  
}

.light .checkbox-select__trigger {
    border: 1px solid #dddddd  !important;
 
}

.light .admin-logo{
    background-image: url("sentech-logo.png");
    background-repeat: no-repeat;
    background-size: 200px 43px;
}

.light .chart-heading{
    color:#000 !important
}


